Django==5.0.9
psycopg2-binary==2.9.9
pgvector==0.3.6
djangorestframework==3.15.2
django-environ==0.11.2
redis==5.0.8
celery==5.4.0
django-celery-beat==2.7.0
gunicorn==22.0.0
whitenoise==6.7.0
Pillow==10.4.0

# NLP / ML
spacy==3.7.6
textblob==0.18.0.post0
sentence-transformers==3.1.1

# После установки зависимостей нужно скачать модели:
#   python -m spacy download ru_core_news_sm
#   python -m textblob.download_corpora
